@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background: linear-gradient(
        135deg,
        rgba(14, 109, 168, 1) 49%,
        rgba(0, 212, 255, 1) 100%
    );
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 5rem;
    padding-top: 10rem;
}

.secondary-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}

.todo-app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 3rem 5rem;
    border-radius: 2rem;
    max-height: 55rem;
    background-color: #fff;
}

.new-task {
    flex-basis: 50%;
    /* display: flex;
    flex-direction: column; */
}

.label-heading {
    font-size: 1.8rem;
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: 700;
}

input[type="text"] {
    background-color: #f1f1f1;
    padding: 1rem 1.5rem;
    width: 80%;
    outline: none;
    border: none;
    font-family: Montserrat, sans-serif;
    border-radius: 0.8rem;
    color: #777;
    font-weight: 500;
}

.text-area {
    background-color: #f1f1f1;
    padding: 1rem 1.5rem;
    width: 80%;
    outline: none;
    border: none;
    font-family: Montserrat, sans-serif;
    border-radius: 0.8rem;
    resize: none;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.categories {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.btn-category {
    color: #777;
    background-color: #f1f1f1;
    outline: none;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    cursor: pointer;
}

.active-category {
    background-color: #007de3;
    color: white;
}

.btn-add {
    padding: 1rem 2rem;
    width: 80%;
    background-color: #007de3;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 1rem;
}

.task-box {
    box-shadow: 0px 0px 0.8rem rgba(0, 66, 119, 0.15);
    padding: 1.5rem 2rem;
    border-radius: 2rem;
}

.right-side {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    overflow-y: auto;
    padding: 0 1rem 0 0.5rem;
}

.all-tasks {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;
    padding: 1.5rem 1rem 1.5rem 0.5rem;
}

.all-tasks::-webkit-scrollbar {
    width: 0.5rem; /* Set the width of the scrollbar */
    background-color: rgb(233, 233, 233);
    /* Set the background color of the scrollbar */
    border-radius: 4rem;
}
.all-tasks::-webkit-scrollbar-thumb {
    background-color: #007de3; /* Set the color of the thumb */
    border-radius: 4rem;
}
::-webkit-scrollbar-track {
    background: rgb(233, 233, 233);
    border-radius: 4rem;
}

.secondary-heading-task {
    font-size: 2rem;
    text-align: center;
    grid-column: 1/-1;
}

.task-heading {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.6;
}

.category-tag {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.7rem;
    background-color: #007de3;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    border-radius: 1rem;
}

.task-description {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.btn-action {
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.btn-completed {
    background-color: rgb(2, 190, 2);
    transition: all 0.3s;
}

.btn-completed:hover {
    background-color: rgb(2, 190, 2);
    transform: scale(1.1);
}

.btn-delete {
    background-color: rgba(255, 0, 0, 0.685);
    transition: all 0.3s;
}

.btn-delete:hover {
    background-color: rgb(255, 0, 0);
    transform: scale(1.1);
}
